<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Biogeme</string>
	<key>uuid</key>
	<string>9B21C27D-744C-4711-AEBA-4D4CBEAAB008</string>
</dict>
</plist>
